name: Continuous Integration
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  make-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ls
      - run: zip legit.zip *
      - run: ls
      - uses: actions/upload-artifact@v3
        with:
          name: zipp.zip
          path: legit.zip
