name: Continuous Integration
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  make-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: zip legit.zip *
      - run: ls
      - uses: actions/upload-artifact@v3
        with:
          name: legit
          path: legit.zip
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Build
        run: |
          npm ci
          npm run build
      - name: Upload & Release
        uses: mnao305/chrome-extension-upload@3.0.0
        with:
          file-path: dist/file.zip
          extension-id: hogefuga(extension id)
          client-id: ${{ secrets.CWS_CLIENT_ID }}
          client-secret: ${{ secrets.CWS_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CWS_REFRESH_TOKEN }}
          publish: false
