name: Continuous Integration
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  make-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ls
      - run: mkdir legitgraph
      - run: mv * legitgraph
      - run: ls
